lib/sepa/wsdl/wsdl_samlink_test.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bxd.fi/CorporateFileService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://model.bxd.fi" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://bxd.fi/CorporateFileService" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://model.bxd.fi" elementFormDefault="qualified" attributeFormDefault="qualified">
			<xsd:complexType name="RequestHeader">
				<xsd:sequence>
					<xsd:element name="SenderId" type="xsd:string" nillable="false"/>
					<xsd:element name="RequestId" type="xsd:string" nillable="false"/>
					<xsd:element name="Timestamp" type="xsd:dateTime" nillable="false"/>
					<xsd:element name="Language" type="xsd:string" nillable="true"/>
					<xsd:element name="UserAgent" type="xsd:string" nillable="true"/>
					<xsd:element name="ReceiverId" type="xsd:string" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ResponseHeader">
				<xsd:sequence>
					<xsd:element name="SenderId" type="xsd:string" nillable="false"/>
					<xsd:element name="RequestId" type="xsd:string" nillable="false"/>
					<xsd:element name="Timestamp" type="xsd:dateTime" nillable="false"/>
					<xsd:element name="ResponseCode" type="xsd:string" nillable="true"/>
					<xsd:element name="ResponseText" type="xsd:string" nillable="true"/>
					<xsd:element name="ReceiverId" type="xsd:string" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UploadFileRequest">
				<xsd:sequence>
					<xsd:element name="RequestHeader" type="ns1:RequestHeader" nillable="false"/>
					<xsd:element name="ApplicationRequest" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UploadFileResponse">
				<xsd:sequence>
					<xsd:element name="ResponseHeader" type="ns1:ResponseHeader" nillable="false"/>
					<xsd:element name="ApplicationResponse" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DownloadFileListRequest">
				<xsd:sequence>
					<xsd:element name="RequestHeader" type="ns1:RequestHeader" nillable="false"/>
					<xsd:element name="ApplicationRequest" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DownloadFileListResponse">
				<xsd:sequence>
					<xsd:element name="ResponseHeader" type="ns1:ResponseHeader" nillable="false"/>
					<xsd:element name="ApplicationResponse" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DownloadFileRequest">
				<xsd:sequence>
					<xsd:element name="RequestHeader" type="ns1:RequestHeader" nillable="false"/>
					<xsd:element name="ApplicationRequest" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DownloadFileResponse">
				<xsd:sequence>
					<xsd:element name="ResponseHeader" type="ns1:ResponseHeader" nillable="false"/>
					<xsd:element name="ApplicationResponse" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="FileServiceFaultDetail">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="category" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="code" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://bxd.fi/CorporateFileService" elementFormDefault="qualified" attributeFormDefault="qualified">
			<xsd:element name="uploadFilein" type="ns1:UploadFileRequest"/>
			<xsd:element name="uploadFileout" type="ns1:UploadFileResponse"/>
			<xsd:element name="downloadFileListin" type="ns1:DownloadFileListRequest"/>
			<xsd:element name="downloadFileListout" type="ns1:DownloadFileListResponse"/>
			<xsd:element name="downloadFilein" type="ns1:DownloadFileRequest"/>
			<xsd:element name="downloadFileout" type="ns1:DownloadFileResponse"/>
			<xsd:element name="FileServiceFaultElement" type="ns1:FileServiceFaultDetail"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="FileServiceFault">
		<wsdl:part name="FileServiceFault" element="tns:FileServiceFaultElement"/>
	</wsdl:message>
	<wsdl:message name="uploadFileResponse">
		<wsdl:part element="tns:uploadFileout" name="uploadFileout"/>
	</wsdl:message>
	<wsdl:message name="uploadFileRequest">
		<wsdl:part element="tns:uploadFilein" name="uploadFilein"/>
	</wsdl:message>
	<wsdl:message name="downloadFileListResponse">
		<wsdl:part element="tns:downloadFileListout" name="downloadFileListout"/>
	</wsdl:message>
	<wsdl:message name="downloadFileListRequest">
		<wsdl:part element="tns:downloadFileListin" name="downloadFileListin"/>
	</wsdl:message>
	<wsdl:message name="downloadFileResponse">
		<wsdl:part element="tns:downloadFileout" name="downloadFileout"/>
	</wsdl:message>
	<wsdl:message name="downloadFileRequest">
		<wsdl:part element="tns:downloadFilein" name="downloadFilein"/>
	</wsdl:message>
	<wsdl:portType name="CorporateFileServicePortType">
		<wsdl:operation name="uploadFile">
			<wsdl:input message="tns:uploadFileRequest" name="uploadFileRequest"/>
			<wsdl:output message="tns:uploadFileResponse" name="uploadFileResponse"/>
			<wsdl:fault name="FileServiceFault" message="tns:FileServiceFault"/>
		</wsdl:operation>
		<wsdl:operation name="downloadFileList">
			<wsdl:input message="tns:downloadFileListRequest" name="downloadFileListRequest"/>
			<wsdl:output message="tns:downloadFileListResponse" name="downloadFileListResponse"/>
			<wsdl:fault name="FileServiceFault" message="tns:FileServiceFault"/>
		</wsdl:operation>
		<wsdl:operation name="downloadFile">
			<wsdl:input message="tns:downloadFileRequest" name="downloadFileRequest"/>
			<wsdl:output message="tns:downloadFileResponse" name="downloadFileResponse"/>
			<wsdl:fault name="FileServiceFault" message="tns:FileServiceFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CorporateFileServiceHttpBinding" type="tns:CorporateFileServicePortType">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="uploadFile">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="uploadFileRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="uploadFileResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FileServiceFault">
				<wsdlsoap:fault use="literal" name="FileServiceFault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="downloadFileList">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="downloadFileListRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="downloadFileListResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FileServiceFault">
				<wsdlsoap:fault use="literal" name="FileServiceFault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="downloadFile">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="downloadFileRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="downloadFileResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FileServiceFault">
				<wsdlsoap:fault use="literal" name="FileServiceFault"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CorporateFileService">
		<wsdl:port binding="tns:CorporateFileServiceHttpBinding" name="CorporateFileServiceHttpPort">
			<wsdlsoap:address location="https://194.240.69.243/services/CorporateFileService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
